{% extends "_base.html" %}
{% block title %}password confrim{% endblock title %}

{% block context %}

<br>
<div class='container'>
    <br>
    <h1 style="color:red;">Enter your new password:</h1>
    <h5 style="color:blue;">Please enter your new password twice so we can verify you typed it in correctly.</h5>
    <br>
    <form method='POST'>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-danger">change my password</button>
    </form>

</div>

{% endblock context %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}




