{% extends "_base.html" %}
{% block title %}password reset{% endblock title %}

{% block context %}

<br>
<div class='container'>
    <br>
    <br>
    <p style="color:gray;">Forgotten your password? Enter email address below and we'll email instructions for setting now one. </p>
    <br>
    <h2 style="color:blue;">password reset from:</h2>
    <br>
    <form method='POST'>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-danger">Reset my password</button>
    </form>

</div>

{% endblock context %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}




