{% extends "_base.html" %}
{% block title %}password change{% endblock title %}

{% block context %}

<br>
<div class='container'>
    <p style="color:red;">Plesae enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly </p>
    <br>
    <h1 style="color:;">password change form:</h1>
    <br>
    <form method='POST'>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-danger">change</button>
    </form>

</div>

{% endblock context %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}




